@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

:root {
    --color-um: #c1ddc7;
    --color-dois: #f5e8c6;
    --color-tres: #bbcd77;
    --color-quatro: #dc8051;
    --color-cinco: #f4d279;
    --color-seis: #000;
    --color-sete: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
    text-align: center;
}

body {
    background-color: var(--color-dois);
}

header {
    height: 60px;
    align-items: center;
    border-bottom: 1px solid #cac2c2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-quatro);
}

.nav {
    align-items: center;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    border: none;
    margin: 0 10px;
    color: var(--color-seis);
    cursor: pointer;
    background-color: var(--color-cinco);
    border: 1px solid var(--color-seis);
    padding: 5px 22px;
    border-radius: 8px;
    transition: tranform .5s;
    transition: .5s;
}

a:hover {
    color: var(--color-seis);
    transform: scale(1.1);
    background-color: var(--color-tres);
    color: var(--color-seis);
}

main {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    background-image: url(img/img1-k.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.box {
    height: 200px;
    background-color: var(--color-tres);
    border: 1px solid var(--color-seis);
    border-radius: 10px;
    text-align: center;
    margin: 0 200px;
    box-shadow: 5px 5px 15px 5px var(--color-seis);
}

.box p {
    margin: 0 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: 16px;
}

span {
    color: var(--color-quatro);
}
.sobre-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 45px 0;
}

.sobre {
    max-width: 1300px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.sobre p {
    text-align: justify;
    text-indent: 20px;
    max-width: 800px;
    font-size: 16px;
}

.sobre i {
    max-width: 100px;
    font-size: 20px;
    color: rgba(14, 223, 42, 0.753);
    margin-left: 80px;
    margin-bottom: 10px;
}

.sobre-produtor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    max-width: 200px;
    align-items: center;
    text-indent: 20px;
    flex-wrap: wrap;

}

.sobre-produtor p {
    margin: 0 20px;
    text-align: justify;
    text-indent: 20px;
    text-align: justify;
    font-size: 16px;
}

.sobre-produtor:nth-child(even) article {
    order: 2;
}

.produtores {
    text-align: center;
    margin-top: 15px;
}

.sobre-produtor img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 5px var(--color-seis);
    margin-bottom: 20px;
    object-fit: cover;
}

.cont-sobre {
    width: 600px;
}

footer {
    background-color: var(--color-quatro);
    padding: 40px 0;
    margin: 2px 0 auto;
}

footer div {
    display: flex;
    width: 1100px;
    margin: 10px auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer .img-footer {
    width: 40px;
    margin: 0 10px;
}

footer a {
    background-color: var(--color-tres);
    color: var(--color-seis);
    padding: 10px 28px;
}

footer a:hover {
    background-color: var(--color-cinco);
}